.new-line {
    white-space: pre-line;
}

.line{
    border-left: 6px solid white;
    height: 370px;
    text-align: center;
    margin-left: 35px;
}

hr{
    height: 1px;
    width: 100%;
    background-color: white;
}